<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title>Spring-Boot Básico</title>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<h2>Cadastro de Autor</h2>

			<!-- inicio do FORM -->
			<form class="form-horizontal" th:object="${user}"
				th:action="@{/user/save}" method="POST">


				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<div class="form-group">
					<label for="inputNomeAutor" class="col-sm-2 control-label">Login:</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{username}" class="form-control"
							id="inputNomeAutor" placeholder="Nome do Usuário">
					</div>
				</div>

				<div class="form-group">
					<label for="senha" class="col-sm-2 control-label">Senha:</label>
					<div class="col-sm-10">
						<input type="password" th:field="*{password}" class="form-control"
							id="senha" placeholder="Senha">
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">E-mail:</label>
					<div class="col-sm-10">
						<input type="email" th:field="*{email}" class="form-control"
							id="email" placeholder="name@example.com">
					</div>
				</div>
				
				
				<div class="form-group">
						<label for="inputAutor" class="col-sm-2 control-label">Papéis:</label>
						<div class="col-sm-10">
							<select th:field="*{role}" id="inputAutor"  multiple="multiple"
								onChange="onstatechange(this)" class="infobox">
								<option th:each="role : ${roles}" th:value="${role.id}"
									th:text="${role.nome}"></option>
							</select>
						</div>
					</div>
				
				
				


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>

	</section>


</body>
</html>