<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title>Spring-Boot Básico</title>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Autores</strong>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table
							class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cat : ${categorias}">
									<td th:text="${cat.id}"></td>
									<td th:text="${cat.nome}"></td>
									<td>
										<div class="btn-group pull-right">
											<a class="btn btn-sm btn-primary"
												th:href="@{/categoria/edit/{id}(id=${cat.id})}">Editar</a> <a
												class="delete btn btn-sm btn-danger"
												th:href="@{/categoria/delete/{id}(id=${cat.id})}">Excluir</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</section>

</body>
</html>