<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring-Boot Básico</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav
			class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Livraria Spring Boot</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="layout-main">

		<aside>
			<nav class="sidebar sidebar-open">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Autor</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Categoria</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/cargos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar
						</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/cargos/listar">
							<i class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Livro</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar
						</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>
			</nav>
		</aside>

		<section class="layout-content">

			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Home</span></li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<h2>Cadastro de Usuário</h2>

				<!-- inicio do FORM -->
				<!-- inicio do FORM -->

				<form class="form-horizontal" th:object="${livro}"
					th:action="@{/livro/save}" method="POST">


					<!-- div reponsável em mostrar os erros -->
					<div class="form-group row">
						<div class="alert alert-danger alert-dismissible fade show"
							role="alert" th:if="${#fields.hasAnyErrors()}">

							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<strong th:text="${detailedError.message}"> </strong>
							</div>
						</div>
					</div>

					<!--Input responsável em guardar o id-->
					<input id="id" name="id" type="hidden" th:field="*{id}"
						th:value="*{id}">

					<div class="form-group">
						<label for="inputNomeAutor" class="col-sm-2 control-label">Título:</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{titulo}" class="form-control"
								id="inputNomeAutor" placeholder="Título do Livro">
						</div>
					</div>

					<div class="form-group">
						<label for="inputAutor" class="col-sm-2 control-label">Autor:</label>
						<div class="col-sm-10">
							<select th:field="*{autor.id}" id="inputAutor"
								onChange="onstatechange(this)" class="infobox">
								<option value="0">Selecione um Autor</option>
								<option th:each="autor : ${autores}" th:value="${autor.id}"
									th:text="${autor.nome}"></option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="descricao" class="col-sm-2 control-label">Descrição:</label>
						<div class="col-sm-10">
							<textarea th:field="*{descricao}" class="form-control"
								id="descricao" placeholder="Descrição"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="inputQuantidade" class="col-sm-2 control-label">Quantidade:</label>
						<div class="col-sm-10">
							<input id="inputQuantidade" type="number"
								th:field="*{quantidade}" class="form-control">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Cadastrar</button>
						</div>
					</div>

				</form>
			</div>

		</section>

	</div>
	<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2018 Queiroga. Todos os
				direitos reservados.</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
</body>
</html>