<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<title>Lista de Convidados</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="nnavbar navbar-expand-sm bg-dark navbar-dark">
		<div class="container">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#">Livros</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Autores</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Estoque</a></li>
			</ul>
		</div>
	</nav>



	<div class="container">

		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Livros</strong>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table
						class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Título</th>
								<th>Data</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="livro : ${livros}">
								<td th:text="${livro.id}"></td>
								<td th:text="${livro.titulo}"></td>
								<td th:text="${#dates.format(livro.data, 'dd/MM/yyyy')}"></td>
								<td>
									<div class="btn-group pull-right">
                                    	<a class="btn btn-sm btn-primary" th:href="@{/livro/edit/{id}(id=${livro.id})}" >Editar</a>
                                    	<a class="delete btn btn-sm btn-danger" th:href="@{/livro/delete/{id}(id=${livro.id})}">Excluir</a>
                               		</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>