<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<title>Lista de Convidados</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="nnavbar navbar-expand-sm bg-dark navbar-dark">
		<div class="container">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#">Livros</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Autores</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Estoque</a></li>
			</ul>
		</div>
	</nav>



	<div class="container">

		<div class="panel-body">
			<form class="form-horizontal" th:object="${livro}"
				th:action="@{/save}" method="POST" style="margin: 10px">
				<fieldset>
					<legend>Cadastro de Livros</legend>

					<div class="form-group row">
						<div class="alert alert-danger alert-dismissible fade show"
							role="alert" th:if="${#fields.hasAnyErrors()}">
							
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							
							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<strong th:text="${detailedError.message}"> </strong>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="titulo" class="control-label">Título:</label> <input
							id="titulo" class="form-control" th:field="*{titulo}"
							placeholder="Digite o título do livro" type="text">
					</div>

					<div class="form-group">
						<label for="autor" class="control-label">Autor:</label> <input
							id="autor" class="form-control" th:field="*{autor}"
							placeholder="Digite nome do autor" type="text">
					</div>

					<div class="form-group">
						<label for="data" class="control-label">Data:</label> <input
							id="data" class="form-control" placeholder="Digite a data"
							th:field="*{data}" type="date">
					</div>

					<div class="form-group">
						<label for="exampleTextarea">Descrição:</label>
						<textarea class="form-control" id="exampleTextarea"
							th:field="*{descricao}" placeholder="Digite a descrição" rows="3"></textarea>
					</div>

					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</fieldset>
			</form>
		</div>

	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>