<!-- Aqui estou colocando o fragmento "rodape" -->
<footer class="layout-footer" th:fragment="rodape">
	<div class="container">
		<span class="footer-copy">&copy; 2018 Queirogá. Todos os
			direitos reservados.</span>
	</div>
</footer>

