<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Aqui estou colocando o fragmento "cabecalho" -->
	<header th:fragment="cabecalho">
		<nav
			class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">LIVRARIA - SPRING </a>
			
			<!-- Toggler/collapsibe Button -->
			<div class="nav navbar-nav navbar-right">
				<span style="color: #fff;" sec:authentication="name"></span>
				<a th:href="@{/logout}" class="navbar-brand"><strong>Logout</strong></a>
			</div>
		</nav>
	</header>


</body>
</html>