<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/layout}"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Autor</span></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/autor/add}">
					<i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/autor/lista}"> <i class="oi oi-spreadsheet"></i> <span>Listar
				</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Categoria</span></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/categoria/add}"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/categoria/lista}">
					<i class="oi oi-spreadsheet"></i> <span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Livro</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar
				</span>
			</a></li>
		</ul>

		<div sec:authorize="hasAuthority('ADM')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active">Usuário</span></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/add}">
						<i class="oi oi-plus"></i> <span>Cadastrar </span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/lista}"> <i class="oi oi-spreadsheet"></i> <span>Listar
					</span>
				</a></li>
			</ul>
		</div>
	</nav>


</body>
</html>